.management {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

app-management-header {
  flex: 0 0 5.5rem;
}

mat-sidenav-container {
  flex: 1 1 auto;
}

mat-sidenav {
  border-right: none;
}
mat-sidenav.mat-drawer-opened {
  width: 100vw;
}
@media(min-width: 800px) {
  mat-sidenav.mat-drawer-opened {
    width: auto;
  }
}

.content {
  overflow-y: auto;
}

app-management-footer {
  flex: 0 1 auto;
}
