<div class="full-height">

  <centered-mat-spinner *ngIf="loading$ | async">
  </centered-mat-spinner>

  <div class="full-width" [hidden]="loading$ | async">
    <div class="pagina overflow">

      <table mat-table class="full-width-min" [dataSource]="items$">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let employee" class="left">
            {{ employee.person.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="idCard">
          <th mat-header-cell *matHeaderCellDef> Rut </th>
          <td mat-cell *matCellDef="let employee" class="left">
            {{ employee.person.idCard }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let employee">
            <div class="acciones">
              <button mat-button mat-icon-button
                color="primary" class="details"
                [disabled]="busy$ | async"
                (click)="onClickEditar(employee)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button mat-icon-button
                color="warn" class="delete"
                [disabled]="busy$ | async"
                (click)="onClickBorrar(employee)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>

    </div>
    <app-data-actions
      (add)="onClickAdd()">
    </app-data-actions>
  </div>

</div>
