h2 {
  margin-top: 0;
}

form {
  display: grid;
  grid-gap: 0.5rem 1rem;
  grid-template-areas:
    'date type'
    'seller seller'
    'client client'
    'details details';
}

@media(min-width: 800px) {
  form {
    grid-template-areas:
      'date date type type none none'
      'seller seller seller client client client'
      'details details details details details details';
  }
}

.details-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.details-table-wrapper {
  overflow-y: auto;
  height: 1rem;
}

.mat-column-quantity>div {
  align-items: center;
  align-content: stretch;
}

.mat-column-actions {
  padding: 0px !important;
  width: 5rem;
  max-width: 5rem;
}

.mat-column>div {
  padding: 0.5rem !important;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: stretch;
}

.mat-column button {
  padding: 0 0.5rem;
  min-width: rem !important;
}

.summary {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1rem;
  justify-items: stretch;
  text-align: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
}
