<div class="dialog">
  <div class="thumbnail">
    <img [src]="product.imagesURL[0]" [alt]="product.name" />
  </div>
  <div class="about">
    <h2 class="name">{{ product.name }}</h2>
    <h4 class="barcode">{{ product.barcode }}</h4>
    <div class="description">
      <span>{{ product.description }}</span>
    </div>
  </div>
  <div class="add-to-cart">
    <h3>${{ product.price }}</h3>
    <div class="quantity">
      <button mat-button mat-icon-button
        (click)="onClickIncreaseProductQuantity()">
        <mat-icon>add</mat-icon>
      </button>
      {{ productUnitsInCart$ | async }}
      <button mat-button mat-icon-button
        [disabled]="productNotInCart$ | async"
        (click)="onClickDecreaseProductQuantity()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
</div>
