<div class="dialog">
  <h2 mat-dialog-title>Registro de Cliente</h2>
  <centered-mat-spinner *ngIf="registering$ | async">
  </centered-mat-spinner>

  <div [hidden]="registering$ | async">
    <form [formGroup]="formGroup" (submit)="onSubmit()">
      <mat-form-field style="grid-area: name">
        <input matInput placeholder="Nombre de Usuario" formControlName="name" />
      </mat-form-field>

      <mat-form-field style="grid-area: pass1">
        <input matInput placeholder="Clave de Usuario" formControlName="pass1" type="password" />
      </mat-form-field>

      <mat-form-field style="grid-area: pass2">
        <input matInput placeholder="Repetir Clave" formControlName="pass2" type="password" />
      </mat-form-field>

      <app-person-form #personForm style="grid-area: person">
      </app-person-form>

      <div>
        <button mat-button mat-raised-button type="submit"
          color="primary"
          [disabled]="formGroup.invalid">
          Aceptar
        </button>

        <button mat-button mat-raised-button type="button"
          (click)="onCancel()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
