.dialog {
  display: flex;
  flex-flow: column nowrap;
  justify-items: stretch;
}

h5 {
  margin: 0;
  color: black;
  vertical-align: middle;
  font-size: 24pt;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 0;
  padding: 0.5rem 0 0 0;
}
form > * {
  width: 100%;
}
@media(min-width: 480px) {
  form {
    padding: 1rem;
  }
}

.password-form-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  justify-items: stretch;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  justify-items: stretch;
}
@media(min-width: 480px) {
  .actions {
    flex-flow: row nowrap;
  }
}

.password-form-group>mat-form-field {
  flex: 1 0 auto;
}

.password-form-group>button {
  flex: 0 0 auto;
  margin-left: 1rem;
}
