<div class="dialog">
  <centered-mat-spinner *ngIf="loading$ | async">
  </centered-mat-spinner>
  <div class="content">
    <img [src]="productImageURL$ | async" [alt]="productName$ | async" />
    <div class="identity">
      <mat-card-title>{{ productName$ | async }}</mat-card-title>
      <mat-card-subtitle>{{ productBarcode$ | async }}</mat-card-subtitle>
    </div>
    <div class="description">
      {{ productDescription$ | async }}
    </div>
    <div class="actions">
      <div>${{ productPrice$ | async }}</div>
      <div class="stock">
        <button mat-button mat-icon-button
          (click)="onClickIncreaseProductQuantity()">
          <mat-icon>add</mat-icon>
        </button>
        {{ productUnitsInCart$ | async }}
        <button mat-button mat-icon-button
          [disabled]="productNotInCart$ | async"
          (click)="onClickDecreaseProductQuantity()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
