<div class="dialog">
  <!-- <centered-mat-spinner *ngIf="loading$ | async">
  </centered-mat-spinner> -->
  <div class="content">
    <img [src]="product.imagesURL[0]" [alt]="product.name" />
    <div class="identity">
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.barcode }}</mat-card-subtitle>
    </div>
    <div class="description">
      {{ product.description }}
    </div>
    <div class="actions">
      <div>${{ product.price }}</div>
      <div class="stock">
        <button mat-button mat-icon-button
          (click)="onClickIncreaseProductQuantity()">
          <mat-icon>add</mat-icon>
        </button>
        {{ productUnitsInCart$ | async }}
        <button mat-button mat-icon-button
          [disabled]="productNotInCart$ | async"
          (click)="onClickDecreaseProductQuantity()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
