.sidenav {
  height: 100%;
  background-color: var(--color-bg);
}

mat-nav-list {
  padding: 0;
}

mat-nav-list * {
  color: var(--color-content);
}

mat-nav-list a {
  padding: 1rem 0.75rem 1rem 0;
  font-size: 1.2rem;
}

a mat-icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5em;
}
@media(min-width: 800px) {
  mat-nav-list a {
    font-size: 1.25rem;
  }

  a mat-icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

a.active {
  background-color: rgba(0,0,0,0.2);
}
