<form [formGroup]="formGroup">

  <mat-form-field style="grid-area: nombre">
    <input matInput placeholder="Nombre Completo" formControlName="nombre" />
  </mat-form-field>

  <mat-form-field style="grid-area: rut">
    <input matInput placeholder="Rut" formControlName="rut" />
  </mat-form-field>

  <mat-form-field style="grid-area: email">
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field style="grid-area: direccion">
    <input matInput placeholder="Dirección" formControlName="direccion" />
  </mat-form-field>

  <mat-form-field style="grid-area: fono1">
    <input matInput placeholder="Teléfono 1" formControlName="fono1" />
  </mat-form-field>

  <mat-form-field style="grid-area: fono2">
    <input matInput placeholder="Teléfono 2" formControlName="fono2" />
  </mat-form-field>
</form>
