<div class="dialog">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <centered-mat-spinner *ngIf="saving$ | async">
  </centered-mat-spinner>

  <div [hidden]="saving$ | async">
    <form [formGroup]="formGroup" (submit)="onSubmit()">

      <mat-form-field style="grid-area: code">
        <input matInput placeholder="Código" formControlName="code" />
      </mat-form-field>

      <mat-form-field style="grid-area: name">
        <input matInput placeholder="Nombre" formControlName="name" />
      </mat-form-field>

      <mat-form-field style="grid-area: pFamily">
        <mat-select placeholder="Familia de Producto" formControlName="family">
          <mat-option *ngFor="let f of (productFamilies$ | async)" [value]="f.id">
            {{ f.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="grid-area: pType">
        <mat-select placeholder="Tipo de Producto" formControlName="type">
          <mat-option *ngFor="let t of (productTypes$ | async)" [value]="t.id">
            {{ t.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="grid-area: price">
        <input matInput placeholder="Precio" formControlName="price" />
      </mat-form-field>

      <mat-form-field style="grid-area: stock">
        <input matInput placeholder="Stock Actual" formControlName="stock" />
      </mat-form-field>

      <mat-form-field style="grid-area: cStock">
        <input matInput placeholder="Stock crítico" formControlName="criticalStock" />
      </mat-form-field>

      <mat-form-field style="grid-area: desc">
        <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
      </mat-form-field>

      <div class="actions">
        <button mat-button mat-raised-button type="submit"
          color="primary"
          [disabled]="formGroup.invalid">
          Aceptar
        </button>
        <button mat-button mat-raised-button
          (click)="onCancel()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
