/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined';

* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

table,
form>mat-form-field,
form>mat-select,
input {
  width: 100%;
}

form,
fieldset {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

fieldset {
  border: 0;
  padding: 0;
}
