/** Palettes as described from https://material.io/resources/color */

:root {
  --color-bg: #6a1b9a;
  --color-bg-light: #9c4dcc;
  --color-bg-dark: #38006b;
  --color-bg-secondary: #eeeeee;
  --color-bg-secondary-light: #ffffff;
  --color-bg-secondary-dark: #bcbcbc;
  --color-content: #ffffff;
  --color-content-secondary: #6a1b9a;
}
