<div class="catalog-container">
  <h2>Catálogo de Productos</h2>
  <app-product-filters-panel (filtersChanges)="onFiltersChange($event)">
  </app-product-filters-panel>

  <centered-mat-spinner *ngIf="loading$ | async">
  </centered-mat-spinner>

  <div class="catalog" [hidden]="loading$ | async">
    <mat-card *ngFor="let product of (products$ | async)">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.barcode }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img [src]="product.imagesURL[0]" [alt]="product.name" />
      </mat-card-content>
      <mat-card-actions>
        <span>${{ product.price }}</span>
        <button mat-icon-button color="primary" (click)="onClickAddProduct(product)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
